@model MyShop.Core.ViewModels.SearchBoxViewModel
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <div>
        <div class="topnav">
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Search Products...">
        </div>
    </div>

<style>
    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 0px;
        font-size: 15px; 
        border-radius: 5px 0px 0px 5px;
    }
    .topnav button {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 0px;
        font-size: 15px;
        border-radius: 0 5px 5px 0;
    }

</style>

